In [71]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
mcount=data[data['Sex']=='male']
fcount=data[data['Sex']=='female']
print(len(mcount.index),' ',len(fcount.index))

577   314

In [73]:
scount=data[data['Survived']==1]
sc='%.2f' %(100*len(scount.index)/len(data.index))
print(sc)

38.38

In [112]:
firstcount=data[data['Pclass']==1]
#firstc='%.2f' %(100*len(firstcount.index)/len(data.index))
firstc=len(firstcount.index)/len(data.index)
#print(data)
print(firstc)

0.24242424242424243

In [75]:
print('%.2f' %data['Age'].mean(),' ',data['Age'].median())

29.70   28.0

In [76]:
print('%.2f' %data['SibSp'].corr(data['Parch'],method='pearson',min_periods=1))

0.41

In [77]:
data['FirstName'] = pandas.Series('', index=data.index)

In [82]:
for index, row in data.iterrows():
    if '(' in row['Name'] and '("' not in row['Name']:
        ind=row['Name'].find('(')
        st=row['Name'][(ind+1):]
    else:
        ind=row['Name'].find('.')
        st=row['Name'][(ind+2):]
    ind=st.find(' ')
    #df.loc[row_indexer, column_indexer]
    data['FirstName'][index]=st[:ind]
    #row.loc['FirstName',index]=st[:ind]
    row['FirstName']=st[:ind]
    print(row['FirstName'])

C:\Users\Alyona\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

Owen
Florence
Lain
Lily
William
Jame
Timothy
Gosta
Elisabeth
Adele
Marguerite
Elizabet
William
Anders
Hulda
Mary
Eugen
Charles
Emelia
Fatim
Joseph
Lawrenc
Anna
William
Torborg
Selma
Farred
Charles
Ellen
Lali
Manuel
Marie
Mary
Edward
Edgar
Alexander
Hann
Ernest
Augusta
Jamil
Johanna
Dorothy
Theodo
Simonne
Margaret
William
Deni
Bridge
Yousse
Josefine
Juha
Richard
Myna
Elizabeth
Engelhart
Hug
Emil
Mansoue
Constance
William
Orse
Ameli
Henry
Haral
Albert
Gerio
Elizabeth
Ernest
Erna
Vincen
Stephen
Lillian
Ambrose
Apostolo
Le
Sigurd
Iva
Rahamin
Alden
Elizabet
Achill
Jan
Brigdet
Francisco
Berth
Maria
William
Selman
Mabel
Francesc
Emi
Paul
Herbert
Bertram
Danie
Charles
George
William
Ada
Sina
Matild
Pastcho
Richard
Gustaf
Anders
Stoytch
Anna
Albert
Tid
Berth
Walter
Hilen
David
Katriin
Malak
Edvar
Patric
William
Quigg
Ellis
Stanley
Leonard
Nichola
Susa
Percival
Elia
Marti
Fridtjof
Ann
Joha
Joze
Domingos
Grace
Mathilde
Samuel
Emil
Helen
Jacques
Olaf
Victo
Sultana
Anna
Elin
Jeremia
Edgardo
Joseph
August
Robina
Michel
Thomas
Robert
Edith
Alfonz
Austin
Ole
Charles
Katherine
Harr
Mil
Thomas
John
Elizabeth
John
Jov
Eino
Frank
Edith
Anna
John
Le
Wyckof
Arthu
Eleanor
Antti
James
Klas
Henry
Ann
Reginal
Lione
Constance
Ren
Clarence
Richard
Luise
Hugh
Johanna
Charles
Joh
Stjepa
Rosa
Willia
Carla
Michel
Margaret
Elis
Rober
Karl
Margaret
Henriette
Nestor
Frederic
Jakob
Geriou
Gurshon
Telma
Karl
Nassef
Helen
Henr
Ahme
Clear
John
Hans
Phili
Madelein
Eliin
Sidney
Albin
Walte
Victor
James
George
Christ
Frederick
Karl
William
John
Arne
Mathild
Irene
Bengt
Ernst
Lillian
Robert
Alice
Stephe
Marjorie
Frederick
George
Thamin
Katherine
Reginald
Matti
Sleima
William
Agda
Anna
Richard
Ernest
James
Elna
William
William
Helena
Hanne
Gertrude
Glady
Ann
Lutie
Thoma
Edvin
Emi
Willia
Deli
Davi
Ernesti
Ernst
Edith
Ameli
Alexande
William
Elizabeth
Charles
Hanora
Kornelia
Augusta
Francis
Eri
Rosa
Fran
Nils
Alfon
Edward
Richard
Iva
Theodor
Penk
Masabum
Kat
Ellen
Helen
Rene
Aloisi
Iva
Ervin
Mansou
Helen
Adolph
Helene
Anna
Bernar
William
Nora
Howard
Hudson
Margare
Maria
Samue
Laura
Margaret
Emily
Anna
Ignja
Benjami
Helmina
Miriam
Ernes
Mary
Margaretta
Samue
Yot
Hilda
Sylvia
George
Marie
Johan
Ada
Emily
Jean
Agne
Auste
George
Leo
Clara
Mitt
Thomas
Elizabeth
Karl
Stephen
Edmond
Alice
Erik
Charles
Stanley
Amelia
Marion
Mary
William
Jova
Nils
Fletcher
Tannou
Jose
Wazl
Leo
Elsie
Annie
Mar
Helen
Wilhel
Sebastian
Catherine
Adol
Thoma
Mauritz
Anna
Mantoura
Anni
Leontine
George
Jakob
William
Sant
Stina
Leila
Aurora
Harry
Tannou
Karl
Rosali
Maria
Juh
Mary
Vasi
Charles
Sidney
Kat
Matthe
Berth
William
Carl
Johan
Marjori
Agnes
Eri
Elin
Peter
Alfre
Jessie
Juh
Joh
Mari
Pekka
Marij
Shadrac
Carl/Charles
William
Hans
Id
Todo
Henr
Daisy
Alfred
Johan
Annie
Lulu
Lyyli
William
Catharin
Stani
Davi
Le
Anna
Viktor
Phillipp
Ada
Kate
Jame
Berk
Mauritz
Florence
Alice
Nikolai
William
Lucile
Doolina
Emily
Mar
Johan
Esther
Leo
Johan
Encarnacio
Bern
Washingto
Madeleine
Frederic
Marie
Arthur
Edwy
Ingvald
Benjamin
Samuel
Josep
Iva
Francis
Marion
Elle
Mauric
Harr
Willia
Arthur
Jacob
Simo
Manuel
Willia
John
Jame
Helene
Arthu
Luk
Ada
Marie
Ida
George
Peter
Lewis
Nils
Hildur
Harold
Anthony
Richard
Hedwig
Dickinson
Jeanni
Jane
Edward
Francis
Eden
Konrad
Eina
Harry
Ramo
Edward
Geriou
Elizabeth
Frederick
Bessie
Olo
Peta
Mar
Bridget
Kristina
Robert
Victor
Jane
George
Henry
Fan
Eugene
Jame
James
Elizabeth
Sati
William
Amelia
Patric
Florence
Stef
Ann
Jank
Sarki
Ida
Fare
Jame
Luc
Joh
Johan
Richard
Phyllis
Nakl
Joseph
Catherine
Marij
Eva
Archibald
Berth
Samuel
Hedwig
Harriet
Ingeborg
Sigrid
Edwar
Walter
Arthur
Ethel
Julia
Frank
John
John
Percival
Timoth
Fahim
Veli
Georg
(Lucille
Victo
Tillie
Emma
Thomas
Husei
Robert
Joh
Marion
Alfred
Ili
Alma
Tannou
Car
Georg
Charlotte
John
Mar
Alfred
Georg
Ethe
Alice
Maria
Eirii
Julie
Marian
William
John
Usche
Rut
John
Maxmillia
Elieze
Josep
Matt
Martha
William
Mar
John
Jean
Jessie
Alfre
Hann
Cosmo
Amy
Petc
Charles
Ernst
Harry
Edvard
Mila
Robert
Juliette
Elizabeth
Alfrida
Jose
Margaret
Joh
William
Alic
Ernst
Cordelia
Marion
Lawrenc
Anton
Edwin
Sahi
Henry
David
Frederic
Charles
Gretchen
Guentch
Patrick
Algernon
Johan
Ma
William
Mabe
Mar
Antti
Harve
Maria
Perciva
Hans
Emm
Margit
Choon
Eugeni
Henry
Liudevi
Oberst
Edwar
Amy
Mit
Elsi
Johannes
Hanora
Hanora
Leonard
Alexande
Catherine
George
Arthur
Henry
Mohame
Edward
Pej
Eino
Lewi
Reginald
Knud
Jaco
Juliet
Elizabeth
Thornto
Henry
Charle
Ennis
Gustaf
Frederick
Anna
Augusta
Thomas
Kati
Hamma
Thor
Charles
Thomas
Joseph
Jaako
Brank
Eberhard
Georgette
Albert
Manc
Al
Khali
Joh
Charles
Jame
Katherine
John
Adolf
Madeleine
Spencer
Saiid
Marti
Henrik
Henry
Florence
Edward
Alic
Halim
Berthe
Herma
Elmer
August
Samue
Peter
Caroline
Edwina
Michae
Malkolm
Annie
Svend
William
Henry
Norman
Luk
Lillian
Margaret
Kurt
Pieta
Elisabeth
Houssein
Robert
William
Moses
Lesli
Margaret
Gustave
Kani
Mink
Walter
Tyrell
Susan
Nea
Juh
Edward
Rossmore
Ann
Daniel
Michae
Joa
Meie
Johannes
Lali
Jane
Vilj
August
Percy
Thomas
Lucy
Joh
Iisakki
Hanna
Lucile
Hans
Anna
Arthur
Mar
Daniel
Daniel
Rene
Niels
Mary
Dib
Eliza
Pehr
Roge
Virginia
Thomas
Elisabeth
Banour
Vera
Milton
Andrew
Willia
David
Anna
George
Bertram
Benjami
Andrew
Alfre
Stella
William
Risti
Richar
Farnham
Mar
Youssef
Rosalie
Marti
Charlotte
William
Assad
Oskar
Karl
Thomas
Ellen
Augus
Bertha
Willia
Jame
Richard
Ebba
Ernest
Richar
Wendla
Alber
John
Karl
Clara
Nikol
John
Beila
Urho
Joh
Le
Andr
Thomas
Martha
Selini
George
Ami
Alber
Owen
Sara
Jako
Mauric
Chan
Pierr
Ilmari
Thomas
August
Peter
Jes
Anthon
Douglas
Mari
Joh
Edwiga
Sigvard
Joha
Nourelai
Mary
Lilian
Leah
Mary
Peter
Latifa
Raihe
Claus
Frederick
Margaret
Dorothy
John
Karolina
Asuncio
Washington
Philemo
Harold
Ceri
Sallie
Frans
Victo
Hannah
Adele
Alfred
Nedeli
Krist
Lily
Imanita
Johan
Gerda
Frederick
Henry
Margaret
Juoza
Margaret
Catherine
Karl
Patric

In [106]:
data1=data[data['Sex']=='male']
data2=data[data['Sex']=='female']
Daily1 = data1.reset_index().groupby(['FirstName']).count()
Daily2 = data2.reset_index().groupby(['FirstName']).count()

In [108]:
print(Daily1['Name'][Daily1['PassengerId']==Daily1['PassengerId'].max()])
print(Daily2['Name'][Daily2['PassengerId']==Daily2['PassengerId'].max()])

FirstName
William    29
Name: Name, dtype: int64
FirstName
Anna    12
Name: Name, dtype: int64